* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --yellow-color: #f7ef99;
  --light-gray-color: #d0d7dd;
  --dark-blue-color: #061A40;
  --dark-blue-2-color: #0d3e5a;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.is-highlighted {
  background: var(--yellow-color);
  border-radius: 4px;
  color: var(--dark-blue-color);
  padding: .2rem;
}

.form-control {
  display: flex;
  width: 20rem;
  justify-content: space-between;

  & > label {
    font-weight: bold;
    color: var(--dark-blue-2-color);
  }

  & > input {
    border: 2px solid var(--light-gray-color);
    border-radius: 4px;
    padding: .2rem;
  }
}

}