* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --yellow-color: #f7ef99;
  --light-gray-color: #d0d7dd;
  --dark-blue-color: #061A40;
  --dark-blue-2-color: #0d3e5a;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
}