:host {
  display: grid;
  height: 100%;
  overflow-y: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  background-color: var(--light-gray-color);
  color: var(--dark-blue-2-color);
  border-radius: 6px;
  transition: transform .1s ease;
  
  &:hover {
    transform: translateY(-2px);
    cursor: pointer;
  }

  &__image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 5px solid var(--light-gray-color);
  }

  &__info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: .7rem;
  }

  &__header {
    text-align: center;
  } 
}