<h1>{{ title }}</h1>

<form
  class="single-product"
  #f="ngForm"
  (ngSubmit)="onSubmit(f.value)"
  [formGroup]="form"
>
  <div class="form-control">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
  </div>

  <div class="form-control">
    <label for="price">Price</label>
    <input type="text" id="price" formControlName="price">
  </div>

  <div class="form-control">
    <label for="category">Category</label>
    <input type="text" id="category" formControlName="category">
  </div>

  <button class="button">Submit</button>
</form>