<header class="header">
  <div class="logo">Online Shop</div>

  <nav class="nav">
    <ul class="nav-items">
      <li class="nav-items__item">
        <!-- TODO: if logged in -->
        <span>Hello, X</span>
        <ul class="nav-items is-nested">
          <li class="nav-items__item">Log out</li>
          <li class="nav-items__item">Hello, X</li>
        </ul>

        <!-- TODO: else -->
        <!-- <span>Log in</span> -->
      </li>
      
      <!-- TODO: if logged in -->
      <li class="nav-items__item">Cart: </li>
    </ul>
  </nav>
</header>

<aside class="aside">
  <ul class="aside-links">
    <li routerLink="/products" class="aside-links__link">Products</li>
    <li routerLink="/orders" class="aside-links__link">Orders</li>
    <li routerLink="/users" class="aside-links__link">Users</li>
  </ul>
</aside>

<main class="main">
  <router-outlet></router-outlet>
  Some main content here
</main>

<footer class="footer">
  <p class="footer__content">Arguably one of the best online shops in town.</p>
</footer>
